@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model PaginatedList<BIA.Dashboard.Template.Models.PayrollBank>

@{
    ViewData["Title"] = "Payroll Banks";
}

@Html.Partial("_PayrollNav")
<div class="row">
    <div class="col">
        <div class="card-header border-0">
            <h1 class="mb-5 text-center">Payroll Banks</h1>
            <div class="form-group" asp-controller="Payroll" asp-action="Banks" method="get">
                <form asp-controller="Payroll" asp-action="Banks" method="get">
                    @*<span class="input-group-text">Search Personnels: </span>*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input class="form-control mr-2" type="text" name="SearchString">
                        <button type="submit" class="btn btn-primary btn-md mr-2" value="Filter">Search</button>
                        <button type="button" class="btn btn-secondary btn-md mr-2" value="Return to Index" onclick="window.location='@Url.Action("Banks", "Payroll")'">Return to Index</button>
                    </div>
                </form>
            </div>
           
            <a href="#" onclick="ConfirmAdd()" class="btn btn-success btn-md" style="width:auto">Add New Bank</a>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-flush">
                    <tr>
                        <th scope="col" width="20%">Bank Code</th>
                        <th scope="col" width="20%">Bank Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.PayrollBankId">
                            <td>@Html.DisplayFor(modelItem => item.BankCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.BankName)</td>
                            <td>
                                <a href="#" onclick="ConfirmEdit(@(item.PayrollBankId))" class="btn btn-sm btn-secondary">Edit</a>
                                <a href="#" onclick="ConfirmDelete(@item.PayrollBankId)" class="btn btn-sm btn-warning">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex card-footer flex-row-reverse">
            
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="p-2">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default btn-sm @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default btn-sm @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl" style="width: 150%">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel" style="align-content: center">Add Bank</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="AddPayrollBank" id="addBankBranch" enctype="multipart/form-data" method="post" role="form">
                            <div class="row form-group m-1">
                                <div class="col-md-2">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank Code</label></p>
                                    <input type="text" class="form-control" id="AddBank" name="addBank" />
                                </div>
                                <div class="col-md-4">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank Name</label></p>
                                    <input type="text" class="form-control" id="AddBankName" name="addBankName" />
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-default" onclick="AddBankBranch()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl" style="width: 150%">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Edit Bank Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="EditPayrollBankBranch" id="editPayrollBankBranch" enctype="multipart/form-data" method="post" role="form">
                            <div class="row form-group m-1">
                                <div class="col-md-2">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank Code</label></p>
                                    <input type="text" class="form-control" id="EditBank" name="editBank" />
                                </div>
                                <div class="col-md-4">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank Name</label></p>
                                    <input type="text" class="form-control" id="EditBankName" name="editBankName" />
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-default" onclick="EditBankBranch()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Delete Bank Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to remove this bank code?</h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-warning" onclick="DeleteBankBranch()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="spinnerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div>
</div>
<input type="hidden" id="hiddenBankBranchId" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        var ConfirmDelete = function (PayrollBankBranchId) {
            $("#hiddenBankBranchId").val(PayrollBankBranchId);
            $("#deleteModal").modal('show');
        }

        var DeleteBankBranch = function () {
            var bankBranchId = $("#hiddenBankBranchId").val();
            //alert(personnelId)
            $.ajax({
                beforeSend: function (request) {
                    $("#deleteModal").modal("hide");
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/DeletePayrollBank',
                data: {
                    id: bankBranchId
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    $("#row_" + bankBranchId).remove();
                    window.location.reload();
                }
            })
        }
        var ConfirmAdd = function () {
            //$("#hiddenLedgerId").val(PersonnelId);
            $("#addModal").modal('show');
        }

        var ConfirmEdit = function (PayrollBankBranchId) {
            $("#hiddenBankBranchId").val(PayrollBankBranchId);

            $.ajax({
                type: 'GET',
                url: '/Payroll/GetPayrollBank/' + PayrollBankBranchId,
                dataType: 'JSON',
                contentType: "application/json",
                success: function (payrollBankBranch) {
                    $("#editModal").modal('show');
                    $('#editPayrollBankBranch input[name="editBank"]').val(payrollBankBranch.bankCode);
                    $('#editPayrollBankBranch input[name="editBankName"]').val(payrollBankBranch.bankName);
                }
            })
        }

        var AddBankBranch = function () {
            //var ledgerId = $("#hiddenLedgerId").val();
            var bank = $('#AddBank').val();
            var bankName = $('#AddBankName').val();
            //alert(personnelId)
            $.ajax({
                beforeSend: function (request) {
                    $("#addModal").modal("hide");
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/AddPayrollBank',
                data: {
                    BankCode: bank,
                    BankName: bankName,
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    window.location.reload();
                }
            })
        }

        var EditBankBranch = function () {
            var bankBranchId = $("#hiddenBankBranchId").val();
            var bank = $('#EditBank').val();
            var bankName = $('#EditBankName').val();
            $.ajax({
                beforeSend: function (request) {
                    $("#editModal").modal("hide");
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/EditPayrollBank',
                data: {
                    PayrollBankId: bankBranchId,
                    BankCode: bank,
                    BankName: bankName,
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    window.location.reload();
                }
            })
        }

    </script>
}
