@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model PaginatedList<BIA.Dashboard.Template.Models.PayrollBankBranch>

@{
    ViewData["Title"] = "Payroll Bank Branch";
}

<nav class="navbar navbar-horizontal navbar-expand-md navbar-dark bg-default rounded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-collapse-header">
            <div class="row">
                <div class="col-6 collapse-close">
                    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="navbar-nav nav-fill w-100">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Posting/Enquiry
                    </a>
                    <div class="dropdown-menu nav-fill w-100" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-fill w-100" asp-action="BankAccountAdvice" asp-controller="Payroll">Bank Account Advice</a>
                        <a class="dropdown-item nav-fill w-100" asp-action="EarningAdvice" asp-controller="Payroll">Earning Advice</a>
                        <a class="dropdown-item nav-fill w-100" asp-action="DeductionAdvice" asp-controller="Payroll">Deduction Advice</a>
                        <a class="dropdown-item nav-fill w-100" asp-action="AdviceHistory" asp-controller="Payroll">Advice History</a>
                        <a class="dropdown-item nav-fill w-100" asp-action="PayrollPayment" asp-controller="Payroll">Payroll Payment</a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">#</a>*@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu nav-fill w-100" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="">Payroll Masterlist</a>
                        <a class="dropdown-item" asp-action="">Payroll Summary</a>
                        <a class="dropdown-item" asp-action="">Payroll Payment Instruction</a>
                        <a class="dropdown-item" asp-action="">Earning/Deduction List</a>
                        <a class="dropdown-item" asp-action="">Individual Ledger</a>
                        <a class="dropdown-item" asp-action="">Advice Listing Current Month</a>
                        <a class="dropdown-item" asp-action="">Payroll Reconcilation</a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">#</a>*@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Maintenance
                    </a>
                    <div class="dropdown-menu nav-fill w-100" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="PayrollLedger" asp-controller="Payroll">Payroll Ledger</a>
                        <a class="dropdown-item" asp-action="BankBranchCode" asp-controller="Payroll">Bank/Branch Code</a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">#</a>*@
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col">
        <div class="card-header border-0">
            <h1 class="mb-5 text-center">Payroll Bank Branch</h1>
            <div class="form-group" asp-controller="Payroll" asp-action="PayrollBankBranch" method="get">
                <form asp-controller="Payroll" asp-action="Index" method="get">
                    @*<span class="input-group-text">Search Personnels: </span>*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input class="form-control mr-2" type="text" name="SearchString">
                        <button type="submit" class="btn btn-primary btn-md mr-2" value="Filter">Search</button>
                        <button type="button" class="btn btn-secondary btn-md mr-2" value="Return to Index" onclick="window.location='@Url.Action("PayrollBankBranch", "Payroll")'">Return to Index</button>
                    </div>
                </form>
            </div>
            @*<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success btn-md" style="width:auto">
                    Add New User
                </a>*@
            <a href="#" onclick="ConfirmAdd()" class="btn btn-success btn-md" style="width:auto">Add New Bank/Branch Code</a>
        </div>
        @*<button class="btn btn-success btn-md" onclick="window.location='@Url.Action("Create", "PersonnelInformations")'">Add</button>*@
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-flush">
                    <tr>
                        <th scope="col" width="20%">Bank</th>
                        <th scope="col" width="20%">Bank Name</th>
                        <th scope="col" width="20%">Branch</th>
                        <th scope="col" width="20%">Branch Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.PayrollBankBranchId">
                            <td>@Html.DisplayFor(modelItem => item.PayrollBank.BankCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.PayrollBank.BankName)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchName)</td>
                            <td>
                                @*<a asp-action="EditUserDetails" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit Details</a>*@
                                <a href="#" onclick="ConfirmEdit(@item.PayrollBankBranchId)" class="btn btn-sm btn-secondary">Edit</a>
                                <a href="#" onclick="ConfirmDelete(@item.PayrollBankBranchId)" class="btn btn-sm btn-warning">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex card-footer flex-row-reverse">
            x
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="p-2">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default btn-sm @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default btn-sm @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl" style="width: 150%">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel" style="align-content: center">Add Bank/Branch Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="AddPayrollBankBranch" id="addBankBranch" enctype="multipart/form-data" method="post" role="form">
                            <div class="row form-group m-1">
                                <div class="col-md-2">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank</label></p>
                                    <input type="text" class="form-control" id="AddBank" name="addBank" />
                                </div>
                                <div class="col-md-4">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank Name</label></p>
                                    <input type="text" class="form-control" id="AddBankName" name="addBankName" />
                                </div>
                                <div class="col-md-2">
                                    <p class="mt-0 mb-0"><label class="control-label">Branch</label></p>
                                    <input type="text" class="form-control" id="AddBranch" name="addBranch" />
                                </div>
                                <div class="col-md-4">
                                    <p class="mt-0 mb-0"><label class="control-label">Branch Name</label></p>
                                    <input type="text" class="form-control" id="AddBranchName" name="addBranchName" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-default" onclick="AddBankBranch()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl" style="width: 150%">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Edit Bank/Branch Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="EditPayrollBankBranch" id="editPayrollBankBranch" enctype="multipart/form-data" method="post" role="form">
                            <div class="row form-group m-1">
                                <div class="col-md-2">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank</label></p>
                                    <input type="text" class="form-control" id="EditBank" name="editBank" />
                                </div>
                                <div class="col-md-4">
                                    <p class="mt-0 mb-0"><label class="control-label">Bank Name</label></p>
                                    <input type="text" class="form-control" id="EditBankName" name="editBankName" />
                                </div>
                                <div class="col-md-2">
                                    <p class="mt-0 mb-0"><label class="control-label">Branch</label></p>
                                    <input type="text" class="form-control" id="EditBranch" name="editBranch" />
                                </div>
                                <div class="col-md-4">
                                    <p class="mt-0 mb-0"><label class="control-label">Branch Name</label></p>
                                    <input type="text" class="form-control" id="EditBranchName" name="editBranchName" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-warning" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-default" onclick="EditBankBranch()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Delete Bank/Branch Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to remove this bank/branch code?</h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-warning" onclick="DeleteBankBranch()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="spinnerModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div>
</div>
<input type="hidden" id="hiddenBankBranchId" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        var ConfirmDelete = function (PayrollBankBranchId) {
            $("#hiddenBankBranchId").val(PayrollBankBranchId);
            $("#deleteModal").modal('show');
        }

        var DeleteBankBranch = function () {
            var bankBranchId = $("#hiddenBankBranchId").val();
            //alert(personnelId)
            $.ajax({
                beforeSend: function (request) {
                    $("#deleteModal").modal("hide");
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/DeletePayrollBankBranch',
                data: {
                    id: bankBranchId
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    $("#row_" + bankBranchId).remove();
                    window.location.reload();
                }
            })
        }
        var ConfirmAdd = function () {
            //$("#hiddenLedgerId").val(PersonnelId);
            $("#addModal").modal('show');
        }

        var ConfirmEdit = function (PayrollBankBranchId) {
            $("#hiddenBankBranchId").val(PayrollBankBranchId);

            $.ajax({
                type: 'GET',
                url: '/Payroll/GetPayrollBankBranch/' + PayrollBankBranchId,
                dataType: 'JSON',
                contentType: "application/json",
                success: function (payrollBankBranch) {
                    $("#editModal").modal('show');
                    $('#editPayrollBankBranch input[name="editBank"]').val(payrollBankBranch.bank);
                    $('#editPayrollBankBranch input[name="editBankName"]').val(payrollBankBranch.bankName);
                    $('#editPayrollBankBranch input[name="editBranch"]').val(payrollBankBranch.branch);
                    $('#editPayrollBankBranch input[name="editBranchName"]').val(payrollBankBranch.branchName);
                }
            })
        }

        var AddBankBranch = function () {
            //var ledgerId = $("#hiddenLedgerId").val();
            var bank = $('#AddBank').val();
            var bankName = $('#AddBankName').val();
            var branch = $('#AddBranch').val();
            var branchName = $('#AddBranchName').val();
            //alert(personnelId)
            $.ajax({
                beforeSend: function (request) {
                    $("#addModal").modal("hide");
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/AddPayrollBankBranch',
                data: {
                    Bank: bank,
                    BankName: bankName,
                    Branch: branch,
                    BranchName: branchName,
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    window.location.reload();
                }
            })
        }

        var EditBankBranch = function () {
            var bankBranchId = $("#hiddenBankBranchId").val();
            var bank = $('#EditBank').val();
            var bankName = $('#EditBankName').val();
            var branch = $('#EditBranch').val();
            var branchName = $('#EditBranchName').val();
            $.ajax({
                beforeSend: function (request) {
                    $("#editModal").modal("hide");
                    $("#spinnerModal").modal("show");
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                },
                type: 'POST',
                url: '/Payroll/EditPayrollBankBranch',
                data: {
                    PayrollBankBranchId: bankBranchId,
                    Bank: bank,
                    BankName: bankName,
                    Branch: branch,
                    BranchName: branchName,
                },
                success: function () {
                    $("#spinnerModal").modal("hide");
                    window.location.reload();
                }
            })
        }

    </script>
}
